#games-page {
    background-color: #2c2f33;
    height: 100%;
    min-height: 100vh;
}

.jumbo {
    background-color: #303338;
    color: white;
}

.table {
    background-color: #2c2f33;
    margin: 0;
}

#gameLogo {
    height: 70px;
}