#games-page {
    background-color: #2c2f33;
    height: 100%;
    min-height: 100vh;
    color: white;
}

.jumbo {
    background-color: #303338;
    color: white;
}

.table {
    background-color: #2c2f33;
    margin: 0;
}

#gameLogo {
    height: 70px;
}

.game-input {
    padding-top: 20px;
    display: flex;
}

.game-input form {
    margin: auto;
}

.game-input select {
    padding: 0 50px;
    margin-right: 10px;
}

.games button {
    margin: 20px 0px 20px 15px;
}

.games img {
    height: 500px;
    width: 500px;
}