#setting-page {
    height: 100%;
    min-height: 100vh;
    background-color: #2c2f33;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.setting-box {
    height: 620px !important;
    background-color: #23272a;
    margin: 50px 20% 0 20%;
    border-radius: 2%;
}

#settingLogo {
    height: 120px;
    width: 140px;
}

#setting-page .nav-tabs {
    border: none;
}

#setting-page .nav-link {
    border: none;
}

#setting-page .nav-tabs:hover{
    border: none;
}

#setting-page .nav-item:hover {
    cursor: pointer;
    border: none !important;
}

#setting-page .delete-tab-btn{
    margin: 10px;
}

.nonactive.nav-link {
    color: #fff;
    background-color: #36393f;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #23272a;
}

.nav-tabs > li > a:hover {
    color: #fff;
}
