.grid {
    display: grid;
    color: black;
    gap: 1rem;
    grid-auto-rows: max-content;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.user_chip{
    padding-left: 1300px;
}

#shop-page {
    background-color: #2c2f33;
    height: 100%;
    color: white;
}

.image{
    height: 100px;
    width: 100px;
}