.grid {
    display: grid;
    color: black;
    gap: 1rem;
    grid-auto-rows: max-content;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.user_chip{
    padding-left: 1300px;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
#shop-page {
    background-color: #2c2f33;
    height: 100%;
=======
>>>>>>> ade4b8a... Fix css on pages and small additions (#40)
#shop-page .jumbotron {
    padding-bottom: 20px;
}

#shop-page {
    background-color: #2c2f33;
    height: 100%;
    min-height: 100vh;
<<<<<<< HEAD
=======
>>>>>>> 57b49bb3dcd3f98a077d519be6ec92ec132e5943
=======
=======
>>>>>>> 57b49bb3dcd3f98a077d519be6ec92ec132e5943
#shop-page .jumbotron {
    padding-bottom: 20px;
}

#shop-page {
    background-color: #2c2f33;
    height: 100%;
    min-height: 100vh;
<<<<<<< HEAD
>>>>>>> aad27cd... Fix css on pages and small additions (#40)
>>>>>>> ade4b8a... Fix css on pages and small additions (#40)
=======
>>>>>>> 57b49bb3dcd3f98a077d519be6ec92ec132e5943
    color: white;
}

.image{
    height: 100px;
    width: 100px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
=======
>>>>>>> aad27cd... Fix css on pages and small additions (#40)
>>>>>>> ade4b8a... Fix css on pages and small additions (#40)
=======
>>>>>>> 57b49bb3dcd3f98a077d519be6ec92ec132e5943
}

#shop-page .card {
    height: 700px;
}

#shop-page .card-title {
    padding-bottom: 10px;
}

#shop-page #purchased-status {
    padding-left: 40px;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 57b49bb3dcd3f98a077d519be6ec92ec132e5943
=======
>>>>>>> aad27cd... Fix css on pages and small additions (#40)
>>>>>>> ade4b8a... Fix css on pages and small additions (#40)
=======
>>>>>>> 57b49bb3dcd3f98a077d519be6ec92ec132e5943
