html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: red !important;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 2a1fc09... Daily credit login feature (#36)
=======
>>>>>>> 57b49bb3dcd3f98a077d519be6ec92ec132e5943
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> a7c2729... Enhanced frontend of the admin dashboard (#35)
=======
>>>>>>> 2a1fc09... Daily credit login feature (#36)
=======
>>>>>>> 57b49bb3dcd3f98a077d519be6ec92ec132e5943
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
