#settings-tab {
    display: flex;
    justify-content: center;
}

#settings-tab form {
    width: 55%;
    padding-top: 40px;
}

#settings-tab .btn-link {
    color: white !important;
}

#submit-btn {
    color: white;
    border: 1px solid white;
}

#submit-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
}

.submit-asterik {
    color: #ff6961;
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
}
>>>>>>> 232cad2... Add functionality to change user settings (#42)
=======
}
>>>>>>> 57b49bb... Added functionality for user to submit feedback report (#54)
