#register-modal .auth-label {
  color: black;
  font-size: 24px;
}
#register-modal .auth-label:hover {
  text-decoration: none;
  font-size: 25px;
}

#admin-btn {
  padding: 0;
}

.password-error {
  color: red;
}
.small-link {
  padding: 0 0 3px 0 !important;
  font-size: 16px !important;
}
.underline {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: black 2px solid !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  padding: 5px 10px;
  animation: auth-btns 2.5s infinite;
}
@keyframes auth-btns {
  0% {
    border-color: black;
  }
  50% {
    border-color: rgb(180, 180, 180);
  }
  100% {
    border-color: black;
  }
}
